
                                    
                                        {% for Registro in registros%}
                                            <tr>
                                                <td>{{ Registro.titulo | raw }}</td>                                                
                                                <td>{{ Registro.descripcion | raw }}</td>                                                
                                                <td> 1</td>                                                
                                            </tr>
                                        {% endfor %} 
                                      
