
                                    
                                        {% for Registro in registros%}
                                            <tr>
                                                <td>{{ Registro.id}}</td>    
                                                <td>{{ Registro.titulo | raw }}</td>                                                
                                                <td>{{ Registro.descripcion | raw }}</td>                                                
                                                <td> 
                                                   
                                              
                                                            <input type="number" max="10" min="1"/>
                                                           
                                                           
                                                    
                                                </td>
                                                           
                                             </tr>
                                        {% endfor %} 
                                      
