{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Registro de Informacion</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button type="button" class="btn btn-primary"  id="clear">Limpiar</button>
                    <a href="{{ path('informacion_index') }}" class="btn btn-danger" role="button">Cancelar</a>
                    <button type="submit" class="btn btn-success ">Enviar</button>
    {{ form_end(edit_form) }}

  
{% endblock %}
